$background-color: #15151f;
$foreground-color: #2a2a4a;
$table-header-color: #181827;
$contrast-color: #fad000;
$button-base: #a599e9;
$hover-background: #4d21fc;
$green-contrast: #83da7c;
$nav-background: #1e1e30;
