// MAIN SCSS FILE

// App Colors
@import "_colors";

// App Fonts

@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700");

// Component Stylesheets
@import "reset";
@import "appheader";
@import "home";
@import "navigation";
@import "players";
@import "landingpage";
@import "team";

// App.js and FantasyFootball.js specific styles
body {
  background-color: $background-color;
  overflow-y: scroll;
  font-family: Arial;
  font-size: 18px;
  width: 100%;
}

h1 {
  color: darkgray;
  font-weight: normal;
}

.ff-container {
  margin: auto;
}
