.team-list {
  .title {
    margin-left: 40px;

    font-size: 15px;
    color: gray;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .list {
    display: grid;
    grid-template-rows: repeat(8 50px);
    grid-row-gap: 30px;

    width: 90%;
    margin: 5px 40px 40px 40px;

    .elements {
      display: flex;

      border-radius: 20px;
      box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.15);

      background-color: hsla(0, 0%, 98%, 1);

      p span {
        display: block;
        margin-left: 20px;
        width: 170px;
      }

      .position {
        font-size: 18px;
        margin-bottom: 5px;
        letter-spacing: 1px;
        color: gray;
      }
      .name {
        display: block;
        font-weight: bold;
        font-size: 13px;
        margin-bottom: 5px;
      }
      .city {
        font-size: 13px;
        color: grey;
      }

      img {
        height: 80px;
        width: 80px;
        border-radius: 0 0 0 20px;
      }

      .stat {
        width: 150px;
        text-align: center;
        margin-top: 35px;

        .number {
          font-size: 26px;
          font-weight: bold;
        }

        .label {
          font-size: 15px;
          color: gray;
          letter-spacing: 1px;
        }
      }

      button {
        width: 100%;
        margin-left: 30px;
        border-radius: 0 20px 20px 0;
        border: 0;
        background-color: hsla(0, 0%, 98%, 1);
      }
    }
  }
}
