@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700,800");

/* MAIN MENU */

.mainmenu-element {
  display: flex;
  align-items: center;
  margin: 2px 0 2px 0;
  height: 28px;
  width: 200px;
  border-radius: 3px;
  color: darkslategray;
  transition: background-color 0.2s ease;
  font-weight: bold;
  font-size: 14px;
}

span {
  font-family: "Exo 2", sans-serif;
}

.mainmenu-element:hover {
  background-color: var(--body-white);
}

.mainmenu-element Icon {
  position: relative;
}

/* REDDIT POST */

.reddit-posts {
  padding: 20px;
  max-height: 300px;
  overflow-y: scroll;
}

.reddit-post {
  display: flex;
  margin-bottom: 5px;
}

.reddit-post img {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.reddit-post-title {
  display: block;
  padding-left: 5px;
}

.reddit-post-title a {
  color: darkslategray;
}

.reddit-post-title span {
  padding-left: 5px;
  color: gray;
}

/* SIGNUP */

.signup-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  filter: drop-shadow(0 0 0.3em white);
  text-align: center;
}

.signup-container > form {
  display: flex;
  flex-direction: column;
}

.signup-container > form > input {
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  margin: 5px;
  padding: 12px;
  border: none;
}

.signup-input {
  background-color: white;
  font-family: "Exo 2", sans-serif;
  font-size: 16px;
  margin: 5px;
  padding: 12px;
  border: none;
}

.signup-input:focus {
  outline: 0;
  background-color: white;
}

.signup-container > form > button {
  background-image: none;
  border: none;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  height: 35px;
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}

.signup-button:hover {
  background-image: none;
  color: red;
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}
