@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700,800");

/* MAIN MENU */

.mainmenu-element {
  display: flex;
  align-items: center;
  margin: 2px 0 2px 0;
  height: 28px;
  width: 200px;
  border-radius: 3px;
  color: darkslategray;
  transition: background-color 0.2s ease;
  font-weight: bold;
  font-size: 14px;
}

span {
  font-family: "Exo 2", sans-serif;
}

.mainmenu-element:hover {
  background-color: var(--body-white);
}

.mainmenu-element Icon {
  position: relative;
}

/* REDDIT POST */

.reddit-posts {
  padding: 20px;
  max-height: 300px;
  overflow-y: scroll;
}

.reddit-post {
  display: flex;
  margin-bottom: 5px;
}

.reddit-post img {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}

.reddit-post-title {
  display: block;
  padding-left: 5px;
}

.reddit-post-title a {
  color: darkslategray;
}

.reddit-post-title span {
  padding-left: 5px;
  color: gray;
}
